html {
 scroll-behavior: smooth;   
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }

  @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

nav li a:hover {
    color: #e53170 !important;
    font-weight: 600;
}

.mentions-legales {
    font-size: 0.6rem;
}